/* Arquivo: atoms/button.css (VERSÃO FINAL) */
/* Estilos base para botões */
.button {
    display: inline-flex; /* Alterado para inline-flex */
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    font-family: var(--font-family-main);
    font-size: var(--font-size-nav-link);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    border-radius: var(--border-radius-button);
}


.button--primary {
    background-color: var(--color-brand-cta); /* Seu azul de "ação" */
    color: var(--color-white);
    padding: 12px 24px; /* Um bom tamanho para um botão "hero" */
    border: none;
    transition: filter 0.2s;
}

.button--primary:hover {
    filter: brightness(1.1);
}

/* Link de Ação dentro do Card (Ver Pacote) */
.action-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--color-brand-blue);
    font-family: var(--font-family-main);
    font-size: var(--font-size-link);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    margin-top: auto;
    align-self: flex-start;
}
.action-link svg path {
    stroke: var(--color-brand-blue);
}

/* Estilo para o botão Excluir principal */
.button--danger {
    background-color: #FA5252;
    color: var(--color-white);
    padding: 12px 24px;
    /* REMOVIDA a largura mínima */
    border: none;
    transition: background-color 0.2s;
    margin: 10px;
    border-radius: 10px;
}
.button--danger:hover {
    background-color: #E03131;
}

.btn--success {
    border: none;
    background-color: var(--color-success-cta);
    color: var(--color-white);  
    padding: 12px 30px; /* Mais preenchimento interno */
    min-width: 150px; /* Garante uma largura mínima */
    height: 50px; /* Garante uma altura mínima */
    border-radius: var(--border-radius-button); /* Use a variável que você já tem */
    font-size: 16px; 
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn--success:hover {
    filter: brightness(1.1);
}

.btn-check-more {
    border: none;
    background-color: var(--color-brand-cta);
    color: var(--color-white);  
    padding: 16px 32px; 
    min-width: 230px; 
    height: 64px; 
    border-radius: var(--border-radius-button);
    font-size: 16px; 
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 32px;
    cursor: pointer;
}

.btn-check-more:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}


.user-button i.material-icons {
    color: #ffffff; /* altere para a cor desejada */
    font-size: 24px;
}

.user-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}
