/* CRIAR NOVO ARQUIVO: css/molecules/main-nav.css */

.main-nav {
    display: flex;
    gap: 32px; /* Espaço entre os links */
}

.main-nav__link {
    font-family: var(--font-family-main);
    color: var(--color-text-secondary); /* Cor cinza padrão */
    text-decoration: none;
    font-size: var(--font-size-nav-link);
    font-weight: var(--font-weight-medium);
    transition: color 0.2s;
}

.main-nav__link:hover {
    color: var(--color-text-primary);
}

.main-nav__link--active {
    color: var(--color-text-primary); /* Cor preta para o link ativo */
    font-weight: var(--font-weight-semibold);
}