/* Importa variáveis (está ao lado do main.css) */
@import url('variables.css');

/* ÁTOMOS (estão na subpasta 'atoms/') */
@import url('atoms/button.css');
@import url('atoms/form.css');
@import url('atoms/imgs.css');
@import url('atoms/videos.css');
@import url('atoms/package-info.css');
/* @import url('atoms/checkbox.css'); (Você não enviou este, mas o caminho seria esse) */

/* MOLÉCULAS (estão na subpasta 'molecules/') */
@import url('molecules/travel-card.css');
@import url('molecules/main-nav.css');
@import url('molecules/home-nav.css');
@import url('molecules/content-card.css');
@import url('molecules/form-group-icon.css');
@import url('molecules/package-images.css');
@import url('molecules/package-tabs.css');

/* ORGANISMOS (estão na subpasta 'organism/') */
@import url('organism/header.css');
@import url('organism/header-admin.css');
@import url('organism/footer.css');
@import url('organism/layout.css');
@import url('organism/packages-section.css');
@import url('organism/form-admin.css');
@import url('organism/table-admin.css');
@import url('organism/features-section.css');
@import url('organism/hero-section.css');
@import url('organism/header-home.css');
@import url('organism/popup-signup.css');
@import url('organism/package-details.css');
@import url('organism/package-reservation.css');
/*Samy*/
@import url('organism/modal.css');

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: var(--radius-full); /* Botão pílula */
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Animação elástica */
    border: none;
    text-decoration: none;
    gap: 8px; /* Espaço entre texto e ícone */
}

.button--primary {
    background-color: var(--color-brand-primary);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
}

.button--primary:hover {
    background-color: var(--color-brand-hover);
    transform: translateY(-2px); /* O botão sobe levemente */
    box-shadow: var(--shadow-lg);
}

.button--danger {
    background-color: #fee2e2;
    color: #991b1b;
}

.button--danger:hover {
    background-color: #fecaca;
}