.main-header {
    width: 100%;
    background-color: var(--color-herder);
    /* REMOVIDOS: border-bottom e box-shadow para criar o efeito de continuidade */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    color: var(--color-text-dark);
    font-size: 32px;
    font-weight: var(--font-weight-bold);
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 350px;
}

.search-bar input {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background-imput);
    padding: 0 16px 0 44px;
    font-family: var(--font-family-main);
    font-size: 14px;
    color: var(--color-text-primary);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.search-bar input:focus {
    outline: none;
    border-color: var(--color-brand-blue);
    box-shadow: 0px 2px 8px 0px rgba(78, 97, 246, 0.25);
    
}

.search-bar input::placeholder {
    color: var(--color-text-secondary);
    background-color: var(--color-background-imput);
}

.search-bar svg {
    position: absolute;
    left: 16px;
    pointer-events: none;
}

.user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--color-brand-cta);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: filter 0.2s;
}

.border-white {
    border: 1px solid var(--color-white);
}

.user-button:hover {
    filter: brightness(1.1);
}

.header-pacotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header-pacotes h1{color: var(--color-text-secondary); }
.header-pacotes p{color: var(--color-text-secondary); font-weight: bold;}

