.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 100px 40px;
    min-height: 500px;
    

    background-image: url('../../img/barcelona-2.jpg'); 


    background-size: cover;
    background-position: center;
    color: var(--color-white);
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

.hero-content {
    position: relative; 
    max-width: 550px; 
    padding: 20px;
}

.hero-title {
    color:var(--color-white);
    font-size: var(--font-size-h1); 
    font-weight: var(--font-weight-bold);
    margin-bottom: 16px;
    line-height: 1.2;
}

.hero-subtitle {
    color:var(--color-white);
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    line-height: 1.3;
    margin-bottom: 32px;
}

.hero-title-secndary {
    color:var(--color-text-secondary);
    font-size: var(--font-size-h1); 
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    padding: 32px 0 12px 0;
    margin-bottom: 16px;
}
.hero-subtitle-secndary {
    color:var(--color-text-secondary);
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    line-height: 1.3;
    margin-bottom: 32px;
}

.hero-section-pacotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    margin: 0 64px;
    background-color: var(--color-background-section);
}

.hero-section-pacotes-contact{
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}