/* ORGANISMO: Layout dos Containers (Final, com mais espaço no fundo) */

/* O fundo lilás da página */
.content-wrapper {
    width: 100%;
    background-color: rgb(7, 235, 117);
    padding-bottom: 40px;
    flex-grow: 1;
}

/* O CONTAINER BRANCO INTERNO */
.inner-content-box {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--color-beckground-content);
    border-radius: 0;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.05);
    /* Ajuste de espaçamento: aumentamos o padding de baixo */
    padding: 32px 32px 48px 32px; /* (topo, lados, BAIXO, lados) */
}

.section-actions {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.container-admin {
    background-color: var(--color-background-container);
    max-width:1236px;
    margin: auto 40px;
}

.pop-up-perfil{
    border: 10px solid black;
    background-color: var();
}
